*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}



button  {
    color: white;
    background-color: #c51111;
    cursor: pointer;
    border-radius: 3px;
    border: none;
    width: 200px;
    height: 50px;
    font-weight: bold;
    margin-top: 30px;
}



.logo-mario {
    height: 200px;
    

}

.img-mario {
    height: 500px;
}

body {
    height: 100vh;
}


.caixa-mae {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    height: 100vh;
}



.caixa-principal {
    width: 47%;

}

.caixa-video {
    position: fixed;
    top: 0;
    z-index: -1;
}

video {
    width: 100vw;

}

.mascara{
    height: 100%;
    width: 100%;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;

}

.texto-1{
    color: white;
    
}

.texto-2{
    color: white;
   
}

.link-w img{
height: 60px;
position: fixed;
right:20px;
bottom: 20px;
}

.cabeça{
display: flex;
align-items:center ;
gap: 30px;
margin: 30px;
}

.cabeça img{
    height: 60px;
}

.cabeça a{
    color: white;
    cursor: pointer;
    font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cabeça a:hover{
    color: #c51111;
    font-size: 26px;
    transition: 0.5s  ease-in-out;
}


button:link,
button:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 20px;
    transition: all .1s;
    position: fixed;
}
button:hover 
    {  transform: translateY(-3px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0) active   
}

.fale-conosco{
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    position:fixed;
    top: 50px;
    left: 50px;
    padding: 20px;
    border-radius: 5px;
}

input{
    height: 40px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;
}
textarea{
    width: 270px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid gray;
    padding-left: 5px;  
}